@mixin shape ($width, $height, $border) {
    width: $width;
    height: $height;
    margin: auto;
    border: $border solid #EF4100;
    border-radius: 50%;
}

@mixin div ($radius) {
    position: absolute;
    display: flex;
    width: $radius;
    height: $radius;
}

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}